<div class="flex-rw buy-ticket__ticket buy-ticket__ticket--cinepolis">
    <a href=<%- link %> target="_blank">
        <img class="buy-ticket__ticket-logo" src="../assets/Cinépolis.svg"></img>
    </a>
</div>