<div class="flex-rw buy-ticket__ticket buy-ticket__ticket--gotix">
    <a href=<%- link %> target="_blank">
        <img class="buy-ticket__ticket-logo" src="../assets/gotix-image-brand.svg"></img>
    </a>
</div>